#completed-stats{
    .header-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .card{
        background: linear-gradient(315deg, #ffeb86 0%, var(--harvest) 100%);
        border: 3px solid var(--harvest);
        color: var(--earth);
        overflow: hidden;
        position: relative;

        .stat{
            --multiplier: 4;
        }
        .label{}
        .icon{
            opacity: .15;
            position: absolute;
            @media(max-width: 785px){
                width: 35%;
                top: 5%;
                right: 0;
            }
            @media(min-width: 786px){
                width: 75%;
                bottom: -50%;
                right: -10%;
            }
        }
    }

    /** Layout shifts **/
    @media(min-width:786px){
        .grid {
            grid-template-areas: "top top top"
                        "left middle right";
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto auto;
            column-gap: var(--column-gap);

            .header-row {
                grid-area: top;
            }

            #completed-miles {
                grid-area: left;
            }

            #completed-trails {
                grid-area: middle;
            }

            #completed-hours {
                grid-area: right;
            }

            .card {
                aspect-ratio: 3/2;
            }

            .stat {
                --multiplier: 4.25;
            }

            .label {
                font-weight: bold
            }
        }
    }
}